@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #E5E5E5;
}

.wrapper {
  width: 1200px;
  margin: 0px auto;
  background-color: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  box-sizing: border-box;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding: 9px 15px 8px;
  text-align: center;
  color: #ffffff;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 4px;
  align-items: center;
}

.button:hover,
.button:focus {
  background: #68A2CA;
}

.button:disabled {
  background: #E5E5E5;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background: #82B3D3;
}

.main-header,
.catalog-header {
  display: flex;
  background: #ffffff;
  margin-bottom: -5px;
}

.logo {
  margin-right: 30px;
  margin-left: 70px;
}

.logo-main {
  z-index: 1;
}

.logo-catalog {
  cursor: pointer;
  margin-bottom: -2px;
}

.navigation-menu-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-menu-link {
  position: relative;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  font-family: inherit;
  color: inherit;
  text-align: center;
  text-decoration: none;
  display: block;
  padding: 20px 17px;
}

.navigation-menu-link-current::before {
  position: absolute;
  right: 17px;
  bottom: 0;
  left: 17px;
  border-bottom: 2px solid #756257;
  z-index: 1;
  content: "";
}

.navigation-menu-item {
  display: flex;
}

.navigation-user {
  margin-left: auto;
  display: flex;
  align-items: flex-start;
}

.navigation-user-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-user-item {
  display: flex;
  flex-wrap: wrap;
}

.navigation-user-link {
  display: block;
  min-width: 42px;
  background-position: center;
  background-repeat: no-repeat;
  text-decoration: none;
}

.navigation-user-link-search {
  background-image: url(../images/header-user-menu-icon/search.svg);
}

.navigation-user-link-favorite {
  background-image: url(../images/header-user-menu-icon/favorite.svg);
  position: relative;
}

.navigation-favourite-product {
  position: relative;
  width: 20px;
  height: 20px;
  left: 29.5px;
  top: 11px;
  font-family: inherit;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  text-align: center;
  letter-spacing: -0.1em;
  color: #FFFFFF;
  z-index: 100;
}

.navigation-user-link-favorite::after {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 24px;
  top: 15px;
  background: #7DB54F;
  border-radius: 10px;
}

.navigation-user-item-button {
  margin: 14px 0;
  margin-left: 20px;
  margin-right: 70px;
}

.navigation-user-button {
  background-color: #756157;
  width: 160px;
}

.navigation-user-button:hover,
.navigation-user-button:focus {
  background: #615048;
}

.navigation-user-button:active {
  color: rgba(255, 255, 255, 0.3);
  background: #756157;
}

.main-container {
  flex-grow: 1;
}

.hero {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  min-height: 767px;
}

.hero-background {
  background-image: url(../images/hero-index-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: flex;
  justify-content: flex-start;
  padding-top: 51px;
  min-height: 434px;
  flex-direction: column;
}

.hero-vector {
  align-self: center;
}

.hero-text {
  text-align: center;
  min-height: 282px;
  background-repeat: no-repeat;
  background-position: top;
  padding: 0 265px;
  padding-top: 63px;
  padding-bottom: 90px;
  box-sizing: border-box;
  position: relative;
}

.hero-text::before {
  position: absolute;
  width: 1200px;
  top: -56px;
  display: block;
  position: absolute;
  left: 0;
  content: url(../images/hero-divider.svg);
}

.hero-text-about-sedona {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
}

.hero-text-advantages {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 0;
  margin-top: 31px;
}

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  margin: 0;
  padding: 0;
  color: #000000;
  list-style-type: none;
}

.advantages-item {
  min-height: 384px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: rgba(131, 179, 211, 0.12);
  box-sizing: border-box;
}

.advantages-item-town,
.advantages-item-bridge {
  background: #82B3D3;
  text-align: center;
  color: #ffffff;
}

.advantages-house-item,
.advantages-food-item,
.advantages-present-item {
  padding-top: 182px;
  justify-content: flex-start;
}

.advantages-image {
  display: flex;
}

.advantages-town-image {
  grid-column: 2/4;
}

.advantages-bridge-image {
  grid-column: 1/3;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  padding: 0 110px 30px;
}

.advantages-description,
.advantages-item-description {
  margin: 0;
  padding: 0 85px;
}

.advantages-number {
  display: block;
  padding-bottom: 30px;
}

.advantages-item-title,
.advantages-item-description {
  margin: 0;
  padding-bottom: 30px;
}

.advantages-food-item {
  background: #FFFFFF;
  background-image: url(../images/advantages-icons/food.svg);
  background-repeat: no-repeat;
  background-position: top 80px center;
}

.advantages-house-item {
  background-image: url(../images/advantages-icons/house.svg);
  background-repeat: no-repeat;
  background-position: top 80px center;
}

.advantages-present-item {
  background-image: url(../images/advantages-icons/present.svg);
  background-repeat: no-repeat;
  background-position: top 80px center;
}

.advantages-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-item-description {
  color: #333333;
}

.advantages-item-space,
.advantages-item-road,
.advantages-item-quite {
  padding-top: 30px;
}

.advantages-item-road {
  background: rgba(131, 179, 211, 0.2);
}

.search-form-link {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  text-align: center; */
  padding: 90px 304px 0;
  font-family: inherit;
  min-height: 326px;
}

.search-form-link-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  padding-left: 148px;
  padding-bottom: 30px;
}

.search-form-link-instruction {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 0;
  padding-bottom: 56px;
  text-indent: 102px;
}

.button-search-form-link {
  font-size: 20px;
  line-height: 36px;
  background: #756157;
  padding: 12px 15px;
  margin: 0 9px;
}

.subscription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  text-align: center;
  font-family: inherit;
  min-height: 411px;
  box-sizing: border-box;
}

.subscription-catalog {
  justify-content: flex-start;
  margin-top: 120px;
  min-height: 217px;
  margin-bottom: 94px;
}

.subscription-main {
  background-image: url(../images/subscription-index-background.jpg);
  color: #ffffff;
  background-color: #2579b0;
}

.subscription-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  padding: 0 362px;
  padding-bottom: 30px;
}

.subscription-instruction {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  padding-bottom: 45px;
}

.subscription-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 200px;
  padding: 0;
}

.field {
  background: #F2F2F2;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  padding: 19.5px 22px;
  flex-grow: 1;
  border: none;
  border-radius: 10px 0px 0px 10px;
}

.subscription-button {
  font-size: 20px;
  line-height: 36px;
  background: #82B3D3;
  width: 200px;
  margin: 0;
  padding: 12px 15px;
  border-radius: 0px 10px 10px 0px;
}

.footer {
  min-height: 120px;
  display: flex;
  justify-content: space-between;
  padding: 0 72px;
}

.footer-social {
  width: 144px;
  display: flex;
  align-items: center;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-button {
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  width: 48px;
  height: 40px;
  padding-top: 15px;
  padding-left: 9.5px;
  box-sizing: border-box;
  color: #83B3D3;
}

.footer-social-button:hover,
.footer-social-button:focus {
  color: #68A2CA;
}

.footer-social-button:active {
  color: rgba(104, 162, 202, 0.3);
}

.footer-contact {
  display: flex;
  text-align: center;
  padding-top: 45px;
}

.footer-contact-phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration-line: none;
  font-style: normal;
  color: inherit;
  font-family: inherit;
}

.footer-contact-phone:hover,
.footer-contact-phone:focus {
  color: #756157;
}

.footer-contact-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-link {
  display: block;
  margin-top: 24px;
  color: #000000;
}

.footer-link:hover,
.footer-link:focus {
  color: #756157;
}

.footer-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 10;
}

.modal {
  position: relative;
  margin: 10% auto auto;
  padding: 62px 70px 70px;
  background-color: #ffffff;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  z-index: 20;
}

.modal-search {
  width: 715px;
  display: block;
  box-sizing: border-box;
}

.modal-content {
  display: flex;
  flex-direction: column;
}

.search-modal-form {
  display: grid;
  grid-template-columns: 155px 133px 153px 133px;
  grid-template-rows: 50px 29px 50px 29px 50px 18px 60px;
  grid-gap: 11px 0;
  /* width: 100%; */
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 54px;
  right: 70px;
  width: 53px;
  height: 53px;
  background-color: #F2F2F2;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.modal-close-button::before,
.modal-close-button::after {
  position: absolute;
  top: auto;
  left: 20.5px;
  width: 13px;
  height: 2px;
  background-color: #242424;
  content: "";
}

.modal-close-button:before {
  transform: rotate(45deg);
}

.modal-close-button::after {
  transform: rotate(-45deg);
}

.modal-title {
  margin: 0;
  margin-bottom: 52px;
  margin-left: -2px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.field-group {
  display: grid;
  grid-template-columns: 155px 1fr;
  margin: 0;
  align-items: center;
  position: relative;
    /* appearance: none; */
}

.field-group-date-in {
  grid-column: 1/-1;
  grid-row: 1/2;
}

.search-modal-field-data-in::after {
  content: url(../images/modal-icons/Calendar-icon.svg);
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  /* width: ; */
}

.model-message {
  grid-column: 2/-1;
  margin: 0;
}

.message-error {
  grid-row: 2/3;
  color: #FF5757;
}

.field-group-date-out {
  grid-column: 1/-1;
  grid-row: 3/4;
}

.message {
  grid-row: 4/5;
}

.field-group-adults,
.field-group-children {
  display: flex;
  position: relative;
}

.field-group-adults {
  grid-column: 1/3;
  grid-row: 5/6;
}

.field-group-children {
  grid-column: 3/5;
  grid-row: 5/6;
  grid-template-columns: 153px 133px;
}

.search-label {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
  align-items: center;
}

.search-modal-form-button {
  grid-column: 1/-1;
  grid-row: 7/8;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background: #83B3D3;
  border-radius: 10px;
}

.field-modal {
  appearance: none;
  background: #F2F2F2;
  border-radius: 4px;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  padding: 14px 19px 15px;
  border: none;
}

.search-modal-field-adults,
.search-modal-field-children {
  width: 133px;
  text-align: center;
  padding-left: 34px;
  box-sizing: border-box;
}

.search-modal-field-adults::before,
.search-modal-field-children::before {
  content: url(../images/modal-icons/minus-icon.svg);
  position: absolute;
  top: 10px;
  left: 10px;
  width: 13px;
  height: 2px;
  display: block;
}

.search-modal-field-adults::after,
.search-modal-field-children::after {
  content: url(../images/modal-icons/plus-icon.svg);
  position: absolute;
  top: -10%;
  left: -10px;
  width: 13px;
  height: 13px;
  display: block;
}

.search-label-children {
  margin-left: 56px;
}

.tooltip {
  position: absolute;
  margin-left: 4px;
  width: 25px;
  height: 25px;
}

.tooltip-toggle {
  position: relative;
  padding: 0;
  top: -5px;
  left: 0;
  width: 25px;
  height: 25px;
  background: #83B3D3;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.tooltip-toggle::before {
  position: absolute;
  top: 5px;
  left: 12px;
  width: 1px;
  content: url(../images/modal-icons/info-icon-i.svg);
}

.tooltip-toggle:hover {
  background: #68A2CA;
}

.tooltip-text {
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-transform: none;
  padding: 15px 18px 18px 22px;
  display: block;
  width: 216px;
  background: #333333;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  position: absolute;
  top: 100%;
  margin-top: 15px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.tooltip-text::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 9px solid #333333;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.catalog-filter-block {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 70px;
  padding-top: 35px;
  background-image: url(../images/catalog-filter-background.jpg);
  background-repeat: no-repeat;
  color: #ffffff;
  background-color: #155580;
  min-height: 403px;
  box-sizing: border-box;
}

.inner-header {
  margin: 0;
  margin-bottom: 40px;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  text-transform: capitalize;
  margin: 0;
  margin-bottom: 8px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left: 1px;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs:not(:last-child) {
  margin-right: 10px;
}

.breadcrumbs-link {
  position: relative;
  display: block;
  width: 12px;
}

.breadcrumbs-link-icon {
  position: absolute;
  top: 5px;
  right: 0;
  bottom: 0;
  left: 0;
  fill: #ffffff;
}

.breadcrumbs-link-text {
  font-size: 16px;
  line-height: 21px;
  font-family: inherit;
  color: inherit;
  text-decoration: none;
}

.breadcrumbs-link-icon:hover,
.breadcrumbs-link-text:hover {
  color: rgba(255, 255, 255, 0.6);
  opacity: 0.6;
}

.breadcrumbs-link-icon:active,
.breadcrumbs-link-text:active {
  color: rgba(255, 255, 255, 0.3);
  opacity: 0.3;
}

.breadcrumbs-link-text::before {
  content: url(../images/arrow-right.svg);
  padding: 0 10px;
  position: relative;
}

.catalog-filter {
  display: flex;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-filter-group:not(:last-child) {
  margin-right: 71px;
}

.catalog-filter-price-group {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.control-input,
.catalog-filter-range {
  cursor: pointer;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
}

.catalog-filter-title-price {
  padding-bottom: 34px;
}

.control {
  position: relative;
  display: block;
  padding-left: 39px;
  cursor: pointer;
}

.control:not(:last-child) {
  padding-bottom: 16px;
}

.control-mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 4px;
  background-color: #FFFFFF;
}

.control-input[type="checkbox"]:checked+.control-mark {
  background-image: url(../images/Checkbox-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.control-input[type="radio"]+.control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked+.control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3F5E72;
  border-radius: 50%;
  content: "";
}

.control-input[type="checkbox"]:hover+.control-mark {
  background-color: rgba(255, 255, 255, 0.6);
}

.control-input[type="checkbox"]:focus+.control-mark {
  background-color: rgba(255, 255, 255, 0.6);
  outline: 3px solid #83B3D3;
}

.control-input[type="checkbox"]:active+.control-mark {
  background-color: rgba(255, 255, 255, 0.3);
}

.control-input[type="radio"]:focus+.control-mark {
  outline: 3px solid #83B3D3;
}

.control-input[type="checkbox"]:disabled+.control-mark,
.control-input[type="radio"]:disabled+.control-mark {
  background-color: rgba(255, 255, 255, 0.1);
}

.catalog-filter-price-range {
  display: flex;
}

.catalog-filter-price-range-field-from,
.catalog-filter-price-range-field-to {
  display: flex;
  align-items: center;
  border: 2px solid #FFFFFF;
  height: 48px;
  width: 144px;
  margin-bottom: 27px;
  position: relative;
  box-sizing: border-box;
}

.catalog-filter-price-range-field-from {
  border-radius: 4px 0 0 4px;
}

.catalog-filter-price-range-field-to {
  border-radius: 0 4px 4px 0;
  margin-left: -2px;
}

.catalog-filter-price-range-field {
  width: 85px;
  padding-left: 19px;
  font: inherit;
  background-color: transparent;
  border: none;
  color: #FFFFFF;
  appearance: textfield;
}

.catalog-filter-price-range-label {
  margin-right: 14px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.3);
}

.catalog-filter-price-range-label:not(:last-child) {
  margin-right: 18px;
  margin-left: 2px;
}

.catalog-filter-price-range-field-from:hover,
.catalog-filter-price-range-field-to:hover {
  border: 2px solid rgba(255, 255, 255, 0.6);
}

.catalog-filter-price-range-field-from:focus-within,
.catalog-filter-price-range-field-to:focus-within {
  outline: 2px solid #81B3D2;
  box-shadow: inset 0px 0px 0px 2px #81B3D2;
}

.catalog-filter-price-range-field-from:active,
.catalog-filter-price-range-field-to:active {
  background-color: #756257;
}

.range-scale {
  position: relative;
  height: 4px;
  margin-bottom: 12px;
  background: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #FFFFFF;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.range-toggle:focus {
  outline: 3px solid #83B3D3;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:active {
  outline: 2px solid #83B3D3;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
}

.toggle-min {
  top: -8px;
  left: -10px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.catalog-filter-buttons {
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-bottom: -5px;
}

.catalog-filter-button {
  background: #82B3D3;
  width: 161px;
  height: 48px;
  margin-bottom: 11px;
}

.button-no-background {
  font-weight: 400;
  background: none;
  text-transform: none;
}

.button-no-background:hover {
  background-color: inherit;
  opacity: 0.6;
}

.button-no-background:active {
  background-color: inherit;
  opacity: 0.3;
}

.button-no-background:focus {
  background-color: inherit;
}

.sorting-block {
  display: flex;
  margin: 0 72px;
  margin-top: 30px;
  justify-content: space-between;
}

.product-search {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.select-control {
  color: #333333;
  background-image: url(../images/arrow-down.svg);
  background-repeat: no-repeat;
  background-size: 11.93px 7.02px;
  background-position: center right 18px;
  appearance: none;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  width: 290px;
  display: flex;
  align-self: center;
  margin-left: auto;
  padding: 12px 17px;
  cursor: pointer;
}

.select-control:hover,
.select-control:focus {
  border: 2px solid #68A2CA;
}

.select-control:active {
  border: 2px solid #3F5E72;
}

.select-control:disabled {
  border: 2px solid rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
  opacity: 0.3;
}

.product-view-user-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: 77px;
}

.product-view-user-item:not(:last-child) {
  margin-right: 8px;
}

.product-view-button {
  background-repeat: no-repeat;
  background-size: 16px 14px;
  background-position: center;
  display: inline-block;
  box-sizing: border-box;
  padding: 0;
  width: 48px;
  height: 48px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  background-color: inherit;
  cursor: pointer;
}

.product-view-button-current {
  border: 2px solid #000000;
}

.product-view-button:hover,
.product-view-button:active {
  border: 2px solid #000000;
}

.product-view-button:focus {
  border: 2px solid #68A2CA;
}

.product-view-user-link-table {
  background-image: url(../images/catalog-icon-page-view/icon-table.svg);
}

.product-view-user-link-slideshow {
  background-image: url(../images/catalog-icon-page-view/icon-slideshow.svg);
}

.product-view-user-link-list {
  background-image: url(../images/catalog-icon-page-view/icon-list.svg);
}

.product-catalog {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  column-gap: 18px;
  max-width: 1056px;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  margin-top: 31px;
  margin-bottom: 96px;
  list-style-type: none;
}

.product-catalog-card {
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: auto auto 21px 37px 37px;
  row-gap: 16px;
  column-gap: 20px;
  padding: 20px;
}

.product-catalog-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  grid-column: 1/-1;
}

.product-catalog-card-type,
.product-catalog-card-price {
  color: #333333;
  font-weight: 400;
}

.navigation-product-link {
  background: #756157;
  border-radius: 4px;
  text-decoration: none;
  width: 140px;
  height: 37px;
}

.navigation-product-link:hover,
.navigation-product-link:focus {
  background: #615048;
}

.navigation-product-link:active {
  color: rgba(255, 255, 255, 0.3);
  background: #756157;
}

.navigation-product-button {
  background: #82B3D3;
}

.navigation-product-button-liked {
  background: #7DB54F;
}

.navigation-product-button-liked:hover,
.navigation-product-button-liked:focus {
  background: #6C9E42;
}

.navigation-product-button-liked:active {
  color: rgba(255, 255, 255, 0.3);
  background: #7DB54F;
}

.product-rating-stars {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 140px;
}

.star {
  background-image: url(../images/catalog-star-icon.svg);
  background-repeat: no-repeat;
  display: inline-block;
  min-width: 18px;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 6px;
}

.star:nth-child(7n) {
  margin-right: 0;
}

.product-rating-text {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background: #F2F2F2;
  border-radius: 4px;
  display: block;
  width: 140px;
  height: 37px;
  padding-top: 9px;
  box-sizing: border-box;
}

.sorting-pagination {
  display: flex;
  justify-content: space-between;
  margin: 0 72px;
  padding: 0;
}

.pagination {
  display: flex;
  width: 400px;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.pagination-item {
  display: flex;
  background: #82B3D3;
  width: 60px;
  min-height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-item:hover,
.pagination-item:focus {
  background: #68A2CA;
}

.pagination-item:active {
  color: rgba(255, 255, 255, 0.3);
  background: #82B3D3;
}

.pagination-current {
  color: #000000;
  background: #F2F2F2;
  border: none;
}

.pagination-current:hover,
.pagination-current:focus,
.pagination-current:active {
  color: #000000;
  background: #F2F2F2;
}

.choice-number-shows {
  color: #333333;
  width: 386px;
  display: flex;
}

.number-text {
  margin: 20px 51px 18px 0;
}

.number-choice {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  background-image: url(../images/arrow-down.svg);
  background-repeat: no-repeat;
  background-size: 11.93px 7.02px;
  background-position: center right 16px;
  appearance: none;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  width: 160px;
  height: 49px;
  padding: 11px 20px;
  margin-top: 5.5px;
}

.number-choice:hover,
.number-choice:focus {
  border: 2px solid #68A2CA;
}

.number-choice:active {
  border: 2px solid #3F5E72;
}

.number-choice:disabled {
  border: 2px solid rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
  opacity: 0.3;
}
