@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #E5E5E5;
}

.wrapper {
  width: 1200px;
  margin: 0px auto;
  background-color: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  box-sizing: border-box;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding: 9px 15px 8px;
  text-align: center;
  color: #ffffff;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 4px;
  align-items: center;
}

.main-header,
.catalog-header {
  display: flex;
  background: #ffffff;
}

.logo {
  margin-right: 30px;
  margin-left: 70px;
}

.navigation-menu-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-menu-link {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  font-family: inherit;
  color: inherit;
  text-align: center;
  text-decoration: none;
  display: block;
  padding: 20px 17px;
}

.navigation-menu-item {
  display: flex;
}

.navigation-user {
  margin-left: auto;
  display: flex;
  align-self: center;
}

.navigation-user-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-user-item {
  display: flex;
  flex-wrap: wrap;
}

.navigation-user-link-search {
  background-image: url(../images/header-user-menu-icon/search.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  min-width: 42px;
}

.navigation-user-link-favorite {
  background-image: url(../images/header-user-menu-icon/favorite.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  min-width: 42px;
}

.navigation-user-link-favorite::after {
  content: "12";
  position: relative;
  width: 20px;
  height: 20px;
  left: 24px;
  top: 15px;
  font-family: inherit;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  color: #FFFFFF;
  background-color: #68B738;
  text-align: center;
  border-radius: 50%;
  display: block;
}

.navigation-favourite-products {
  color: #ffffff;
  background: #7DB54F;
  font-size: 10px;
  line-height: 13px;
  text-align: center;
  letter-spacing: -0.1em;
}

.navigation-user-item-button {
  margin: 14px 0;
  margin-left: 20px;
  margin-right: 70px;
}

.navigation-user-button {
  background-color: #756157;
  width: 160px;
}

.main-container {
  flex-grow: 1;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #ffffff;
  min-height: 767px;
}

.hero-background {
  background-image: url(../images/hero-index-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: flex;
  justify-content: center;
  min-height: 485px;
}

.hero-vector {
  align-self: center;
}

.hero-text {
  text-align: center;
  min-height: 282px;
  background-repeat: no-repeat;
  background-position: top;
  padding: 0 265px;
  padding-top: 120px;
  padding-bottom: 90px;
  box-sizing: border-box;
}

.hero-text-about-sedona {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
}

.hero-text-advantages {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 0;
  margin-top: 31px;
}

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  margin: 0;
  padding: 0;
  color: #000000;
  list-style-type: none;
}

.advantages-item {
  min-height: 384px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: rgba(131, 179, 211, 0.12);
}

.advantages-item-town,
.advantages-item-bridge {
  background: #82B3D3;
  text-align: center;
  color: #ffffff;
}

.advantages-image {
  display: flex;
}

.advantages-town-image {
  grid-column: 2/4;
}

.advantages-bridge-image {
  grid-column: 1/3;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  padding: 0 110px 30px;
}

.advantages-description,
.advantages-item-description {
  margin: 0;
  padding: 0 85px;
}

.advantages-number {
  display: block;
  padding-bottom: 30px;
}

.advantages-item-title,
.advantages-item-description {
  margin: 0;
  padding-bottom: 30px;
}

.advantages-food-item {
  background: #FFFFFF;
  background-image: url(../images/advantages-icons/food.svg);
  background-repeat: no-repeat;
}

.advantages-house-item {
  background-image: url(../images/advantages-icons/house.svg);
  background-repeat: no-repeat;
}

.advantages-present-item {
  background-image: url(../images/advantages-icons/present.svg);
  background-repeat: no-repeat;
}

.advantages-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-item-description {
  color: #333333;
}

.advantages-item-road {
  background: rgba(131, 179, 211, 0.2);
}

.search-form-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0 304px;
  font-family: inherit;
  min-height: 417px;
}

.search-form-link-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  padding-bottom: 30px;
}

.search-form-link-instruction {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 0;
  padding-bottom: 56px;
}

.button-search-form-link {
  font-size: 20px;
  line-height: 36px;
  background: #756157;
  padding: 12px 15px;
}

.subscription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: inherit;
  min-height: 411px;
}

.subscription-main {
  background-image: url(../images/subscription-index-background.jpg);
  color: #ffffff;
  background-color: #2579b0;
}

.subscription-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  padding: 0 362px;
  padding-bottom: 30px;
}

.subscription-instruction {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  padding-bottom: 46px;
}

.subscription-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 200px;
  padding: 0;
}

.field {
  background: #F2F2F2;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  padding: 20px 22px;
  flex-grow: 1;
  border: none;
  border-radius: 10px 0px 0px 10px;
}

.subscription-button {
  font-size: 20px;
  line-height: 36px;
  background: #82B3D3;
  margin: 0;
  padding: 12px 15px;
  border-radius: 0px 10px 10px 0px;
}

.footer {
  min-height: 120px;
  display: flex;
  justify-content: space-between;
  padding: 0 72px;
}

.footer-social {
  width: 144px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
  width: 48px;
  height: 40px;
  outline: 2px solid rgba(0, 128, 0, 0.3);
  outline-offset: 1px;
}

.button-vk {
  background-image: url(../images/footer-icons/vkontakte.svg);
  background-repeat: no-repeat;
}

.button-telegram {
  background-image: url(../images/footer-icons/twitter.svg);
  background-repeat: no-repeat;
}

.button-youtube {
  background-image: url(../images/footer-icons/youtube.svg);
  background-repeat: no-repeat;
}

.footer-contact {
  display: flex;
  text-align: center;
  align-items: center;
}

.footer-contact-phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration-line: none;
  font-style: normal;
  color: inherit;
  font-family: inherit;
}

.footer-link {
  display: flex;
  align-self: center;
}

.catalog-filter-block {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 70px;
  padding-top: 35px;
  background-image: url(../images/catalog-filter-background.jpg);
  background-repeat: no-repeat;
  color: #ffffff;
  background-color: #155580;
}

.inner-header {
  margin: 0;
  margin-bottom: 40px;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  text-transform: capitalize;
  margin: 0;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs:not(:last-child) {
  margin-right: 10px;
}

.breadcrumbs-link {
  background-image: url(../images/catalog-filter-house-icon.svg);
  background-repeat: no-repeat;
}

.breadcrumbs-link-text {
  font-size: 16px;
  line-height: 21px;
  font-family: inherit;
  color: inherit;
  text-decoration: none;
}

.catalog-filter {
  display: flex;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
}

.catalog-filter-group:not(:last-child) {
  margin-right: 70px;
}

.catalog-filter-price-group {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
}

.catalog-filter-title-price {
  padding-bottom: 34px;
}

.control {
  display: flex;
}

.control:not(:last-child) {
  padding-bottom: 16px;
}

.catalog-filter-price-range-field {
  background: none;
  border: 2px solid #FFFFFF;
  border-radius: 4px;
  height: 48px;
  margin-bottom: 20px;
}

.catalog-filter-buttons {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.catalog-filter-button {
  background: #82B3D3;
  width: 160px;
  height: 48px;
  margin-bottom: 20px;
}

.button-no-background {
  font-weight: 400;
  background: none;
  text-transform: none;
}

.sorting-block {
  display: flex;
  padding: 0 71px;
  justify-content: space-between;
}

.product-search {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.select-control {
  color: #333333;
  background-image: url(../images/arrow-down.svg);
  background-repeat: no-repeat;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  width: 290px;
  display: flex;
  align-self: center;
  margin-left: auto;
  padding: 14px 20px;
}

.product-view-user-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: 80px;
}

.product-view-user-item {
  width: 48px;
  height: 48px;
}

.product-view-user-item:not(:last-child) {
  margin-right: 8px;
}

.product-view-user-link-table {
  background-image: url(../images/catalog-icon-page-view/icon-table.svg);
  background-repeat: no-repeat;
}

.product-view-user-link-slideshow {
  background-image: url(../images/catalog-icon-page-view/icon-slideshow.svg);
  background-repeat: no-repeat;
}

.product-view-user-link-list {
  background-image: url(../images/catalog-icon-page-view/icon-list.svg);
  background-repeat: no-repeat;
}

.product-catalog {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  column-gap: 18px;
  max-width: 1056px;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  margin-top: 57px;
  margin-bottom: 96px;
  list-style-type: none;
}

.product-catalog-card {
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: auto auto 21px 37px 37px;
  row-gap: 16px;
  column-gap: 20px;
  padding: 20px;
}

.product-catalog-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  grid-column: 1/-1;
}

.product-catalog-card-type,
.product-catalog-card-price {
  color: #333333;
  font-weight: 400;
}

.navigation-product-link,{

}


.navigation-product-link {
  background: #756157;
  border-radius: 4px;
  text-decoration: none;
  width: 140px;
  height: 37px;
}

.navigation-product-button {
  background: #82B3D3;
}

.navigation-product-button-liked {
  background: #7DB54F;
}

.product-rating-stars {
  display: flex;
  justify-content: flex-start;
}

.star {
  background-image: url(../images/catalog-star-icon.svg);
  background-repeat: no-repeat;
  display: block;
}

.product-rating-text {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background: #F2F2F2;
  border-radius: 4px;
  display: block;
  width: 140px;
  height: 37px;
}

.sorting-pagination {
  display: flex;
  justify-content: space-between;
  margin: 0 72px;
  padding: 0;
}

.pagination {
  display: flex;
  width: 370px;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.pagination-item {
  display: flex;
  background: #82B3D3;
  width: 55px;
  height: 55px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-current {
  color: #000000;
  background: #F2F2F2;
  border: none;
}

.choice-number-shows {
  color: #333333;
  width: 386px;
  display: flex;
}

.number-text {
  margin: 0;
  padding: 16px 51px 18px 0;
}

.number-choice {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  width: 160px;
  height: 48px;
  padding: 14px 20px;
}


