
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format(woff2);
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format(woff2);
    font-display: swap;
}

body {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    background-color: #E5E5E5;
}

.wrapper {
    wight: 1200px;
    margin 0px 40px;
    background-color: #ffffff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.main-header {
    background: #ffffff; 
}

.navigation-menu-link {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    color: inherit;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
}

.navigation-user-link-search {
    background-image: url(../images/header-user-menu-icon/search.svg);
}

.navigation-user-link-favorite {
    background-image: url(../images/header-user-menu-icon/favorite.svg);
}

.navigation-favourite-products {
    color: #ffffff;
    background: #7DB54F;
    font-size: 10px;
    line-height: 13px;
    font-weight: 400;
    text-align: center;
    letter-spacing: -0.1em;
}

.navigation-user-button {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    background-color:  #756157;
    border: ; 
    border-radius: 4px;
    text-align: center;
}

.hero {
    width: 1200px;
    height: 767px;
    background: #ffffff;
}

.hero-background {
    background-image: url(../images/hero-index-background.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-image: url(../images/hero-divider.svg) 1200px 57px;
    text-align: bottom;
    width: 1200px;
    height: 485px;
}

.hero-text {
    width: 1200px;
    height: 282px;
    text-align: center;
}

.hero-text-about-sedona {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.hero-text-advantages {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #333333;
}

